/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1982 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbs-1982:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.05;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1982 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1982 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 35.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1982 .cs-text-large {
    font-size: 1.25rem;
    line-height: 1.5em;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #sbs-1982 .cs-text {
    margin-bottom: 2rem;
  }
  #sbs-1982 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    line-height: 3.5rem;
    text-decoration: none;
    margin: 0;
    /* 32px - 48px */
    padding: 0 clamp(2rem, 4vw, 3rem);
    background-color: var(--primary);
    overflow: hidden;
    color: #fff;
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #sbs-1982 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #1a1a1a;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-1982 .cs-button-solid:hover {
    color: #fff;
  }
  #sbs-1982 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1982 .cs-ratings {
    width: 100%;
    margin: 0;
    margin-top: 4rem;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    position: relative;
    align-self: stretch;
  }
  #sbs-1982 .cs-ratings:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.1;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1982 .cs-stars {
    display: flex;
    flex-direction: row;
  }
  #sbs-1982 .cs-rating {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  #sbs-1982 .cs-h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #sbs-1982 .cs-rating-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbs-1982 .cs-icon {
    width: 5.125rem;
    height: 5.9375rem;
    position: absolute;
    top: -1.875rem;
    right: 1.25rem;
  }
  #sbs-1982 .cs-image-group {
    width: 100%;
    max-width: 39.375rem;
    /* Changes to auto at desktop */
    height: 30rem;
    /* clips the corners of the children around the border radius */
    overflow: hidden;
    border-radius: 1rem;
    order: -1;
    position: relative;
  }
  #sbs-1982 .cs-background {
    width: 100%;
    height: 100%;
    /* makes it cover the parent dimensions */
    object-fit: cover;
    display: block;
  }
  #sbs-1982 .cs-background img {
    width: 100%;
    height: 100%;
    /* makes it cover the parent like a backgorund image */
    object-fit: cover;
    display: block;
  }
  #sbs-1982 .cs-box {
    text-align: left;
    width: 100%;
    max-width: 19rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    padding: 2rem;
    background-color: #1A1A1A;
    /* 48px - 80px */
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    /* 12px - 24px */
    right: clamp(0.75rem, 2.5vw, 1.5rem);
    /* 12px - 24px */
    bottom: clamp(0.75rem, 2.5vw, 1.5rem);
  }
  #sbs-1982 .cs-box-icon {
    width: 3.75rem;
    height: auto;
    display: block;
  }
  #sbs-1982 .cs-desc {
    /* 25px - 31px */
    font-size: clamp(1.5625rem, 3.125vw, 1.9375rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    width: 100%;
    margin: 1rem 0 0 0;
    color: #fff;
  }
  #sbs-1982 .cs-box-text {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    margin: 0.75rem 0 0 0;
    color: #f7f7f7;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1982 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbs-1982 .cs-content {
    align-self: center;
  }
  #sbs-1982 .cs-image-group {
    height: auto;
    min-height: 42.5rem;
  }
}
/*-- -------------------------- -->
<---        Meet the Team       -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-2080 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #meet-team-2080 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-2080 .cs-content {
    /* set text align to center if content needs to be centered */
    text-align: left;
    width: 100%;
    margin-bottom: 3rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* left aligns content, set to center to align content horizontally */
    align-items: flex-start;
    grid-column: span 12;
  }
  #meet-team-2080 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    max-width: 9.25rem;
    min-width: 7.25rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: #fff;
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #meet-team-2080 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #meet-team-2080 .cs-button-solid:hover:before {
    width: 100%;
  }
  #meet-team-2080 .cs-card-group {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
    position: relative;
  }
  #meet-team-2080 .cs-item {
    min-height: 22.5rem;
    overflow: hidden;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-column: span 12;
    position: relative;
  }
  #meet-team-2080 .cs-item:last-of-type::before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
  }
  #meet-team-2080 .cs-picture {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }
  #meet-team-2080 .cs-picture img {
    width: 100%;
    height: 100%;
    /* makes it act like a background image */
    object-fit: cover;
    /* forces the top if the images to always be at the top of the container */
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
  }
  #meet-team-2080 .cs-info {
    width: 90%;
    margin: 1rem;
    padding: 1rem 1.5rem;
    background-color: #fff;
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative;
  }
  #meet-team-2080 .cs-info:before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
  }
  #meet-team-2080 .cs-h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
  }
  #meet-team-2080 .cs-cta {
    text-align: left;
    width: 100%;
    height: 100%;
    max-height: 25.375rem;
    min-height: 22.5rem;
    margin-bottom: auto;
    padding: 1.5rem;
    overflow: hidden;
    border: 1px solid var(--primary);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    grid-column: span 12;
    position: relative;
  }
  #meet-team-2080 .cs-cta:before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
  }
  #meet-team-2080 .cs-h2 {
    font-size: 1.9375rem;
    font-weight: 900;
    line-height: 1.2em;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
  }
  #meet-team-2080 .cs-job {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-2080 .cs-container {
    max-width: 80rem;
  }
  #meet-team-2080 .cs-content {
    min-height: 22.5rem;
    margin-bottom: auto;
    grid-column: span 6;
  }
  #meet-team-2080 .cs-item,
  #meet-team-2080 .cs-cta {
    grid-column: span 6;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #meet-team-2080 .cs-content,
  #meet-team-2080 .cs-item,
  #meet-team-2080 .cs-cta {
    min-height: 25.375rem;
    grid-column: span 4;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #meet-team-2080 .cs-content,
  #meet-team-2080 .cs-item,
  #meet-team-2080 .cs-cta {
    grid-column: span 3;
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews {
    padding: var(--sectionPadding);
    /* Centers the button */
    text-align: center;
  }
  #reviews .cs-container {
    margin: auto;
    max-width: 69rem;
    width: 100%;
  }
  #reviews .cs-topper {
    margin-bottom: 1rem;
    text-align: center;
  }
  #reviews .cs-title {
    max-width: 43.75rem;
    text-align: center;
  }
  #reviews .cs-text {
    /* 88px - 104px */
    margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
    max-width: 40.625rem;
    text-align: center;
  }
  #reviews .cs-card-group {
    /* 48px - 64px */
    margin: 0 auto clamp(3rem, 5vw, 4rem);
    padding: 0;
  }
  #reviews .cs-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    margin: 0 auto 4rem;
    background: #fff;
    max-width: 33.875rem;
    width: 100%;
    /* Prevents padding from affecting height & width */
    box-sizing: border-box;
    /* Padding L & R - 16px - 32px */
    padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0;
    /* 32px - 40px */
    padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
    list-style: none;
    text-align: left;
    box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
  }
  #reviews .cs-item:last-of-type {
    margin-bottom: 0;
  }
  #reviews .cs-item-img {
    position: absolute;
    top: calc(-40 / 16 * 1rem);
    height: 5rem;
    width: 5rem;
  }
  #reviews .cs-item-p {
    border-bottom: 1px solid #e8e9ec;
    margin: 0 0 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #reviews .cs-reviewer {
    display: block;
    margin: 0 auto 0 0;
    width: 40%;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--headerColor);
  }
  #reviews .cs-desc {
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(#353535);
  }
  #reviews .cs-item-stars {
    height: 1rem;
    width: 6rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews .cs-card-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  #reviews .cs-item {
    /* reset margin so it won't interfere with flexbox */
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews .cs-title,
  body.dark-mode #reviews .cs-text,
  body.dark-mode #reviews .cs-item-p,
  body.dark-mode #reviews .cs-reviewer {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews .cs-item {
    background: var(--medium);
  }
  body.dark-mode #reviews .cs-desc {
    color: var(--primaryLight);
  }
}
